{% extends "base.html" %}

{% block content %}
<section class="login-card">
    <h2>Recuperación de contraseña</h2>
    <p>Ingresa tu correo y registra una nueva contraseña.</p>

    <form method="POST" id="forgotPasswordForm">
        <label>Correo electrónico</label>
        <input type="email" name="email" required>

        <label>Nueva contraseña</label>
        <input type="password" name="new_password" id="newPassword" required>

        <label>Confirmar nueva contraseña</label>
        <input type="password" name="confirm_password" id="confirmNewPassword" required>

        <div class="form-actions">
            <button type="submit">Actualizar contraseña</button>

            <a href="{{ url_for('login') }}" class="btn-cancel">
                Cancelar
            </a>
        </div>
    </form>
</section>
{% endblock %}